@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');


@font-face {
  font-family: "RobotoSlab";
  src: url("fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

html,
body {
  background: #FFE8C2;
  padding: 0;
  margin: 0;
  font-family: roboto-regular;
}

*{
  font-family: 'RobotoSlab', Serif;
  font-weight: 200;

  /*color: rgba(55, 56, 63, 1);*/
}

h1 {
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
  font-family: JejuMyeongjo sans-serif;
}

* {
  box-sizing: border-box;
  color: #0A0501;
}
